<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-4">
    <%= form.label :title, class: 'form-field' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field mb-4">
    <%= form.label :content, class: 'form-field' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="field mb-4">
    <%= form.label :file, class: 'form-field' %>
    <%= form.file_field :file, direct_upload: true, accept: 'application/pdf, application/zip', class: 'form-control' %>
  </div>
  
  <div class="field d-none">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit 'Upload Document', class: 'btn btn-success' %>
  </div>
<% end %>
