<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @document.content %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @document.likes %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user.name %>
</p>

<%= link_to "Download file", @document.file, download: '' %>
<%= link_to "Preview file", @document.file, preview: '' %>

<%= link_to 'Back', documents_path %>
